#mainDiv-post-preview {
    margin: 12px;
    padding: 5px;

    width: auto;
    overflow: hidden;
    position: relative;
    height: auto;
    display: inline-block;

    border: 2px solid rgb(200, 200, 200);
    border-radius: 4%;
    background: #ffffff;
}

#mainDiv-post-full{
    margin: 12px;
    padding: 5px;

    width: auto;
    overflow: hidden;
    position: relative;
    height: auto;
    display: inline-block;

    background: #ffffff;
}

#header-post-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 30px;
    line-height: 30px;
}

#header-post-full {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 30px;
    line-height: 30px;
}

#imgAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 2px;
    float: left;
    margin-bottom: 5px;
    object-fit: cover;
    cursor: pointer;
}

#name {
    margin-left: 5px;
    cursor: pointer;
}

#date {
    float: right;
    margin-left: auto;
}

#imgDiv-post-preview {
    width: 300px;
    height: 300px;
    vertical-align: middle;
    margin: 5px;
}
  
#mainImg-post-preview {
    object-fit: cover;
    width: 300px;
    height: 300px;
    cursor: pointer;
    border-radius: 4%;
}

#imgDiv-post-full {
    width: 420px;
    height: 500px;
    vertical-align: middle;
    margin: 5px;
}
  
#mainImg-post-full {
    object-fit: cover;
    width: 420px;
    height: 500px;
    cursor: auto;
    border-radius: 4%;
}