<div class="container">
    <div id="searchBarDiv">
        <input type="text" [(ngModel)]="filter" name="filter" placeholder="filter">
        <button type="button" class="btn btn-outline-dark" (click)="changeRouteParameter()">Search</button>
    </div>
    <hr>
    <div id="posts" class="container-fluid row justify-content-center" *ngIf="posts">
        <app-post-preview *ngFor="let post of posts" [post]="post" [flag]="'preview'"></app-post-preview>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.2)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>